{% include "head.html" %}
{% include "menu.html" %}
<body>
<pre class="container-fluid">
    This application provides you to search through your Google Drive.
    You can delete all that refers to your query, or delete some item from search result, or just watch result.
    For working with application you need for login via google.
    We never use your data and we will provide confidentiality to your data.
    We only will store index of your files in encrypted way.
</pre>
{% include "footer.html" %}
</body>