{% include "head.html" %}
<script>
    axios.get('/api/reload', {
        params: {}
    }).then(function (response) {
        let data = response.data;
        if (response.status === 200) {
            let loaded = data.loaded;
            let timers = {total: data.total, retrieve: data.retrieve, build_index: data.build_index}
        }
    });
</script>
{% include "menu.html" %}
<div class="container-fluid">
    <div id="result">
        Wait until loading finished...(this content will change when load)
    </div>
</div>