<!DOCTYPE html>
<html lang="en">
{% include "head.html" %}
<head>
    <script src="{{ url_for('static',filename='js/search.js') }}"></script>
</head>
<body>
{% include "menu.html" %}
<div class="container-fluid">
    <input type="text" name="query" id="query">
    <button type="submit" id="search" onclick="search()">Search</button>
    <input type="checkbox" id="delete_all"><label for="delete_all">Delete</label>
    <div id="files"></div>
    <table id="results" class="display compact" width="60%"></table>
</div>
{% include "footer.html" %}
</body>
</html>