<!DOCTYPE html>
<html lang="en">
{% include "head.html" %}
<head>
    <script>
        function search() {

            let elem = document.getElementById("query");
            let query = elem.value;
            console.log(query);
            axios.get('/api/search', {
                params: {
                    query: query
                }
            }).then(function (response) {
                let data = response.data;
                if (response.status === 200) {
                    let docs = data.docs
                }
            });
        }

        function reset() {
            location.href = location.origin + "/gdrive-search"
        }
    </script>
</head>
<body>
{% include "menu.html" %}
<div class="container-fluid">
    <input type="text" name="query" id="query">
    <button type="submit" id="search" onclick="search()">Search</button>
    <button type="reset" id="reset" onclick="reset()">Reset</button>
</div>
</body>
</html>