{% include "head.html" %}
<script>
    axios.get('/api/test', {
        params: {}
    }).then(function (response) {
        let data = response.data;
        if (response.status === 200) {
            let files = data.files;
            let file_list = "<ul class= 'list-group'>";
            files.forEach(function (item, index) {
                file_list += `<li class='list-group-item' id='${item.id}'>
                                        <a href='${item.webViewLink}'>${item.name}</a>
                                        </li>`
            });
            file_list += "</ul>";
            $("#files").html(file_list);
        }
    });
</script>
{% include "menu.html" %}
<div class="container-fluid" id="files">
</div>